$main-bg-color: #1b1b1b;
$brand-color: #f8b700;
$main-fit: 100px;
$half: 50%;
$zero: 0px;
$-half: -50%;
$font: 'Acme', sans-serif;
$center: center;
$flex: flex;
$-wrap: nowrap;
$none: none;
$wrap: wrap;
$col: column;
$rel: relative;
$ash: #F9F1E9;
$rt: right;
$Aft: arial;
$Ucase: uppercase;
$stanWiHi: 120px;
$lOpacity: 1.0;
$mOpacity: 0.4;
$HOpacity: 0.5s;
$mWidth: 220px;
$hWidth: 300px;
$ease: ease-in-out;
$maroon: #211510;
$blood: #990000;
$lime: #8db600;
$scarlet: #801818;
$offwt: #b2beb5;
$bkwt: #e5e4d7;
$pt: #d5c8af;
$ten: 10px;
$twy: 20px;



/* Body
================================= */
body {
  background-color: $main-bg-color;
}

.header {
  background-color: $main-bg-color;
  height: $main-fit;
  display: $flex;
  flex-direction: $col;
  flex-wrap: $-wrap;
  align-items: $center;
  justify-content: $center;
}

* {
  margin: $zero;
  padding: $zero;
  text-decoration: $none;
}

/* Title
================================= */

.main-title {
  position: $rel;
  margin: $zero;
  padding: $zero;
  color: $ash;
  text-align: $center;
  top: $half;
  left: $half;
  -webkit-transform: translate3d(-50%, -50%, $zero);
  transform: translate3d(-50%, -50%, 0);
}

.demo .main-title {
  text-transform: $Ucase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

/* Images
================================= */

img {
  width: 160px;
}


.container-grid img {
  width: $stanWiHi;
  height: $stanWiHi;
}

/* Fonts
================================= */

h1 {
    font-family: $font;
    font-size: $main-fit;
    color: $brand-color;
  }

h2 {
  font-family: $font;
  font-size: 30px;
  color: $brand-color;
}

h3 {
  font-family: $font;
  font-size: 22px;
  color: $blood;
  padding: 12px 0 4px;
}
h4 {
  font-family: $font;
  font-size: 18px;
  color: $lime;
  padding: 25px $zero 4px;
}

h5 {
  font-family: $font;
  font-size: 25px;
  color: $brand-color;
  padding: 30px 0 4px;
}

h6 {
  font-family: $font;
  font-size: 25px;
  color: $brand-color;
}

p {
  font-family: $Aft;
  font-size: $twy;
  color: $pt;
  line-height: $twy;
}

p1 {
  font-family: $Aft;
  font-size: $twy;
  color: $offwt;
  line-height: $twy;
}

p2 {
  font-family: $Aft;
  font-size: $twy;
  color: $scarlet;
  line-height: $twy;
}

/* Button
================================= */
button {
  background-color: $brand-color;
  color: $offwt;
  padding: $ten $ten;
  text-align: $center;
  display: run-in;
  font-size: 16px;
  font: $font;
}

/* Borders
================================= */
.container-grid {
  padding: 0;
  width: 100%;
  display: $flex;
  flex-wrap: $wrap;
  justify-content: $center;
  background-color: $main-bg-color;
}

.container-grid a {
  display: $flex;
  flex-wrap: $-wrap;
}

.container-grid img {
  width: $stanWiHi;
  height: $stanWiHi;
}


.container-grid div {
  width: $mWidth;
  padding: 0 $ten 0 $twy;
  background-color: #211510;
}

.container-grid a:hover div {
  background-color: $blood;
}

/* Sidebar section
================================= */
.sideright {
background-color: $bkwt;
margin: $ten;
border-radius: 5px;
padding: 20px;
font-size: 105%;
width: 260px;
float: $rt;
}

.imagesidebar {
  width: $hWidth;
  float: $rt;
  border-radius: 5px;
  margin-left: $ten; margin-right: $ten;
  margin-top: $zero; margin-bottom: $ten;
  clear: $rt;
  opacity: $lOpacity;
  transition: opacity $HOpacity $ease;
}

.imagesidebar:hover {
  opacity: $mOpacity;
}

/* Side Left
================================= */
.sideLeft {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
  float: left;
  width: 700px;
  height: 700px;
}

.section1 {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  font-size: 20px;
  text-align: center;
  font-size: 20px;
  width: 700px;
  height: 200px;

}
.section2 {
  grid-column: 1;
  grid-row: 3;
  background-color: darkgreen;
  color: white;
  text-align: center;
  font-size: 20px;
  width: 700px;
  height: 400px;
  background: url("images/tv.jpeg");
  background-size: cover;
}

.section2 img {
  width: 96%;
  height: 90%;
  padding-top: 16px;

}

.section3 {
  grid-column: 1;
  grid-row: 7;
  background-color: brown;
  color: white;
  text-align: center;
  font-size: 20px;
  background: url("images/ball.jpeg");
  background-size: cover;
}


/* Pokemon
================================= */

#pikachu-name {
  text-transform: capitalize;
}

#eevee-name {
  text-transform: capitalize;
}

#mewtwo-name {
  text-transform: capitalize;
}

#charmander-name {
  text-transform: capitalize;
}


/* Nav Bar
================================= */
#navbar ul{
  padding: 5px;
  list-style-type: center;
  text-align: center;
  background-color: $main-bg-color;
  margin: 10px;;
  border-radius: 5px;
}

#navbar ul li {
display: inline;
}

#navbar ul li a {
text-decoration: none;
font-family: Arial;
padding: .2em 1em;
color: #fff;
background-color: $main-bg-color;
}

#navbar ul li a:hover {
  color: $main-bg-color;
  background-color: #fff;
 }
// 
//
//
//  /* Poke Ball
//  ================================= */
//
// .ball {
//   height: 200px;
//   width: 200px;
//   border: 1px solid red;
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }
//
// .pokeball {
//   height: 100%;
//   width: 100%;
//   position: relative;
//   padding: 0;
//   list-style-type: none;
//   border: 1px solid #fff;
//   margin: 0;
//   transform-style: preserve-3d;
//   animation: rotate 2s ease infinite;
// //
//     li {
//       position: absolute;
//       height: 100%;
//       width: 100%;
//       box-sizing: border-box;
//       border-radius: 50%;
//       border: 1px solid green;
//       transform-style: preserve-3d;
//       background-image: linear-gradient(to bottom, red 45%, black 45%, black,55%, white 1%);
//       z-index: -2;
//       margin: 300px;
//     }
//
//     @for $i from 1 through 36 {
//       li:nth-child(#{$i}deg) {
//         transform: rotateY(#{$i*10}deg);
//       }
//     }
//     &::after {
//       position: absolute;
//       content: "";
//       height: 30px;
//       width: 30px;
//       z-index: 50;
//       transform: translate(110px) translate(-50%) translateX(-50%);
//       top: 50%;
//       left: 50%;
//       background-color: #fff;
//       border-radius: 50px;
//       box-shadow:
//       0px 0px 1px rgba(0,0,0,1),
//       0px 0px 2px rgba(0,0,0,1),
//       0px 0px 3px rgba(0,0,0,1),
//       0px 0px 4px rgba(0,0,0,1),
//       0px 0px 5px rgba(0,0,0,1),
//       0px 0px 1px rgba(255,255,255,1),
//       0px 0px 2px rgba(255,255,255,1),
//       0px 0px 3px rgba(255,255,255,1),
//     }
//     &::before {
//       position: absolute;
//       content: "";
//       height: 60px;
//       width: 60px;
//       z-index: 50;
//       transform: translateZ(102px) translate(-50%) translateX(-50%);
//       top: 50%;
//       left: 50%;
//       background-color: #fff;
//       border-radius: 50px;
//       box-shadow:
//       0px 0px 1px rgba(0,0,0,1),
//       0px 0px 2px rgba(0,0,0,1),
//       0px 0px 3px rgba(0,0,0,1),
//       0px 0px 4px rgba(0,0,0,1),
//       0px 0px 5px rgba(0,0,0,1),
//       0px 0px 1px rgba(255,255,255,1),
//       0px 0px 2px rgba(255,255,255,1),
//       0px 0px 3px rgba(255,255,255,1),
//
// //     }
// }
//
// @keyframes rotateY(0deg); {
//   0% {
//     transform:  rotateY(0deg);
//   }
//   100% {
//     transform: rotateY(360deg);
//   }
// }
